div.context-body {
    padding-top: 10px;
    width: 70%;
    background-color: rgba(187, 187, 187, 0.1);
    border: 3px solid rgba(187, 187, 187, 0.1);
    border-radius: 3px;
}

div.bottom-header {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    word-wrap: break-word;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hr-separacao {
    position: relative;
    margin-top: -10px;
    margin-left: 110px;
    height: max-content;
}

h2.title-principal {
    text-align: center;
    /*text-decoration: underline rgba(110, 221, 88, 0.137);*/
    color: rgb(5, 170, 134);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#grafico {
    margin: 0 auto;
    display: block;
}

.graphic-button {
    display: block;
    border-radius: 6px;
    cursor: pointer;
    table-layout: fixed;
    border: 1px solid rgb(21, 211, 21);
    background: linear-gradient(to bottom, #5add58 5%, #09ff00  100%);
    box-shadow: inset 0px 1px 0px 0px #e3f1e3;
    color: #fff;
    font-weight: bold;
    display: initial;
    text-shadow:0px 1px 0px #528009;
    margin: 0 205px;
}

#status-sv {
    top: 8px;
    position: relative;
    width: 30px;
    height: 30px;
}

div.table-div {
    display: flex;
    justify-content: left;
}

table.dados {
    margin-right: 0px;
    border: 3px solid #444;
    border-collapse: collapse;
    margin-bottom: 10px;
}

caption.title-table {
    background-color: rgb(146, 146, 146);
    color: #fff;
    font-weight: bold;
    border-style: solid solid none solid;
    border-radius: 3px;
    border-color: #444;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

thead tr {
    border-bottom: solid 3px #444;
}

tbody tr:hover {
    background-color: #dedede;
}

h4.coment-table {
    text-shadow: 1px 1px 1px black;
}