*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}
body{
    top: 0;
    margin: 0;
    padding: 0px;
    /*font-family: 'Noto Sans JP', sans-serif !important;*/
    font-family: 'Roboto', sans-serif !important;
    display: block;
}
a {
    text-decoration: none;
    text-shadow: 1px 1px 1.5px #000;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
header {
    z-index:2;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1d6d8f;
}
header > div.bonito {
    display: flex;
    width: 400px;
    justify-content: space-between;
}
header > div.bonito > div.mesma-linha > h1.titulo {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}
.strong{
    font-weight: bold;
}
#logo{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
/*Mobile*/
#separa{
    color: #2e6177;
}
.menu-mobile{
    width: 100%;
    height: auto;
    padding: 0;
    display: none;
    transition: opacity 1.5s ease-out;
    opacity: 0;
}
.menu-mobile ul.menu-ul-mobile{
    width: 100%;
    display: none;
    transition: opacity 1.5s ease-out;
    opacity: 0;
    padding: 0;
}
.menu-mobile ul > li {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    display: block;
}
.menu-mobile ul > li > a {
    display: block;
    width: 100%;
    padding: 0;
    text-shadow: 2px 2px 1px #000;
}
.menu-mobile ul > li > a:visited {
    color: white;
    text-shadow: 2px 2px 1px #000;
}
.menu-mobile ul > li > a:hover {
    color: rgba(255, 255, 255, 0.7);
}
img.risco3 {
    display: none;
    transition: transform 0.7s;
    filter: invert(100%);
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}
img.risco3:hover{
    cursor:pointer;
}

/**/
.menu{
    display: flex;
}
.menu a {
    padding: 0 15px;
    font-size: 19px;
    text-decoration: none;
    color:#fff;
}
.menu a:hover{
    color: rgba(255, 255, 255, 0.7);
}
.menu a:visited{
    color:#fff;
}
@media(max-width:780px){
    header{
        display: block;
        padding-bottom: 5px;
    }
    header > div.bonito {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    header > div.bonito > img#logo{
        align-self: center;
    }
    div.mesma-linha{
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        flex-grow: 2;
    }
    div.mesma-linha h1.titulo{
        font-size: 21px;
        align-self: stretch;
    }
    img.risco3{
        display: flex;
        align-self: flex-end;
    }
    .menu{
        display: none;
    }
    .menu-mobile{
        display: block;
        z-index:2;
    }
    .menu-mobile li {
        text-align: center;
    }
    .menu-logo{
        display:flex;
    }
}
@media(max-width:664px){
}
@media(max-width:520px){
    div.mesma-linha h1.titulo{
        font-size: 19px;
        align-self: stretch;
    }
}
@media(max-width:400px){
}
@media(max-width:250px){
}
@media(max-width:300px){
}