header {
    position: static !important;
    z-index: 0 !important;
}
.aviso{
    visibility: hidden;
    width: 150px;
    height: 150px;
    right: 50px;
    bottom: 50px;
    max-width: 0;
    overflow: hidden;
    text-align: center;
    background-color:blue;
    color:aliceblue;
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 16px;
    transition: max-width 2s linear;
}
.aviso h2{
    height: 100%;
}