main {
    width: 100%;
    display: flex;
}
.div-image-central{
    z-index:1;
    width: 100%;
    height: 600px;
    max-height: 600px;
    background-image: url(/files/images/ceuSobre.jpg);
    background-size: cover;
    background-position: 0% 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-image-central h1{
    text-align: center;
    text-shadow: 2px 3px 1px #000;
}
.div-image-central h1.titulo{
    margin: 0;
    color: #fff;
    text-align: center;
}
.engloba-conteudo{
    background-color: #246ad7e6;
}
@media(max-width:940px){
}
@media(max-width:800px){
}
@media(max-width:664px){
}