main {
    width: 100%;
    display: block;
}
.div-image-central{
    z-index:1;
    width: 100%;
    height: 600px;
    max-height: 600px;
    background-image: url(/files/images/ceu.jpg);
    background-size: cover;
    background-position: 0% 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-image-central h1{
    text-align: center;
    text-shadow: 2px 3px 1px #000;
}
.div-image-central h1.titulo{
    margin: 0;
    color: #fff;
    text-align: center;
}
.engloba-inform{
    width: 100%;
    padding: 50px 30px;
    background-color:#132239;
    display: flex;
    justify-content:space-between;
}
.inform{
    width: 50%;
    padding-left: 60px;
}
h2.titulo{
    color: white;
    font-size: 25px;
}
p.inf{
    color: white;
}
.engloba-pessoas{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-grow:2;
}
.pessoas{
    display: flex;
    padding-left: 10px;
    flex-grow:2;
    align-self: baseline;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
@media(max-width:940px){
    .pessoas{
        padding: 0;
        margin: 0 auto 0 auto;
        display: block;
        max-width: 70%;
        max-height: 70%;
        width: auto;
        height: auto;
    }
    .engloba-inform{
        display: block;
        width: 100%;
    }
    .inform{
        width: 100%;
        display: block;
        padding: 0;
    }
    .engloba-pessoas{
        display: block;
    }
}
@media(max-width:800px){
    .pessoas{
        display: block;
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
    }
}
@media(max-width:664px){
}