.conteudo{
    display:flex !important;
    flex-direction: row;
    align-items: stretch;
    height:100%;
}
.engloba-navtoda{
    display: flex;
    /*flex-grow: 2;*/
    flex-basis: auto;
    align-items: stretch;
    /*flex: 1;*/
    width: 70px;
    min-height: 100%;
    background-color: rgb(41, 153, 221);
    transition: all 0.5s linear;
    flex-shrink: 0;
}
.engloba-nav{
    width: 100%;
    height: 100%;
    /*padding: 10px 10px 10px 10px; /*mudei*/
}
.eita {
    height: 100%;
    width: 100%; /*mudei*/
}
.real-nav{
    width: 100%;
    opacity: 0;
    display:block;
    transition: all 0.5s linear;
}
.real-nav a{
    width: 100%; /*mudei*/
    display:block;
    visibility: hidden;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 10px 10px;
}
.real-nav a:hover{
    background-color: aquamarine;
}
#img-sobre-real {
    transition: transform 0.5s;
    cursor:pointer;
    /*filter: invert(100%);*/
    max-width: 70px; /*mudei 50*/
    max-height: 70px; /*mudei 50*/
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px; /*mudei*/
}
.engloba-conteudo{
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 2;
    padding: 10px 10px;
}

/*Android Nav*/
.engloba-navtoda-mobile{
    background-color:aquamarine;
    width: 100%;
    display:none;
}
#img-sobre-real-android {
    transition: transform 0.5s;
    cursor:pointer;
    /*filter: invert(100%);*/
    max-width: 70px; /*mudei 50*/
    max-height: 70px; /*mudei 50*/
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px; /*mudei*/
}
.eita1 {
    width: 100%; /*mudei*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}
/**/
@media(max-width:940px){
    main{
        display: block !important;
    }
    .conteudo{
        display: block !important;
    }
    .engloba-navtoda{
        display: none;
    }

    /*Android Nav*/
    .engloba-navtoda-mobile{
        display:block;
    }
    .real-nav-mobile a{
        display:block;
        text-align: center;
        padding: 10px 0px;
    }
    .real-nav-mobile a:hover{
        background-color: rgb(90, 192, 158);
    }
    /**/
}