

.alunoinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-aluno {
    max-width: 9rem;
    max-height: 9rem;
    width: auto;
    height: auto;
}

#le-pagina{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content:center;
}

.div-aluno-engloba {
    display: flex;
    margin: 3rem 0;
    padding: 2rem;
    width: max-content;
    flex-direction:row;
    background-color: white;
    box-shadow: 0 0 0.4em black;
}

.div-aluno-engloba > div.div-aluno {
    padding: 0 0;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: flex-start;
    align-content: flex-start;
    box-shadow: 0 0 0.2em black;
}

.div-aluno-engloba > div.div-aluno > div > h3 {
    font-family: 'Metropolis-Light', sans-serif !important;
    background-color: #484848;
    color: white;
    margin: 0;
    height: 3rem;
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    padding: 0.7rem 0 0.7rem 2rem;
}

.div-aluno-engloba > div.div-aluno > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.engloba-dados-aluno {
    display: flex;
    flex-direction:row;
}

div.engloba-dados-aluno > div.caracteristicas-aluno {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 0.5rem 0 0 0;
}

.caracteristicas-aluno > a {
    font-family: 'Metropolis-Light', sans-serif !important;
    width: max-content;
    height: 1.5rem;
    align-content: flex-start;
    text-align: left;
    justify-content: flex-start !important;
}  

.caracteristicas-aluno > a:nth-child(2){
    padding: 0 0 0 0.5rem;
}

.icone-rede-aluno {
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: auto;
    height: auto;
    padding-right: 0.4rem;
}

#lattes-icone {
    max-width: 3rem;
    max-height: 3rem;
    width: auto;
    height: auto;
}

#engrenagem-img {
    max-width: 2rem;
    max-height: 2rem;
    width: auto;
    height: auto;
}

.parte-lattes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 0 0;
}

.parte-lattes > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.parte-lattes > div > img {
    margin-right: 1rem;
}


div.buttonImage {
    border-color: #004C9F;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 2rem;
}

a {
    padding: 0 1rem;
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s;
	position: relative;
	overflow:auto;
	z-index: 1;
}
div.buttonImage > a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0rem;
	z-index: -2;
}

div.buttonImage > a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #004C9F;
	transition: all .3s;
	border-radius: 0rem;
	z-index: -1;	
}
div.buttonImage:hover{
    box-shadow: -5px 5px 5px -5px #333;
}

div.buttonImage > a:hover{
    color: white;
    text-shadow: 1px 1px 2px black;
}

div.buttonImage > a:hover:before{
    width: 100%;
}


@media(max-width:1080px){
    .image-aluno {
        max-width: 10rem;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    div.engloba-dados-aluno {
        flex-wrap: wrap;
        flex-direction:column;
        padding: 1rem 1rem;
    }
    .parte-lattes > div {
        width: 100%;
        justify-content: flex-start;
        align-items:center;
    }
    
    .caracteristicas-aluno > a {
        font-size: 1rem;
        width: max-content;
        padding: 0;
        height: 2rem;
        word-wrap:break-word;
    }  

    .caracteristicas-aluno > a:nth-child(2){
        padding: 0 !important;
        margin: 0 0 0 -0.5rem !important;
    }

    .aluno-p{
        width: 100%;
    }
}

@media(max-width:840px) {
    .image-aluno {
        max-width: 10rem;
    }

    .caracteristicas-aluno > a {
        font-size: 0.8rem;
    } 

    .caracteristicas-aluno > a:nth-child(2){
        padding: 0 !important;
        margin: 0 !important;
    }

    .div-aluno-engloba > div.div-aluno > div > h3 {
        height: 3rem;
        width: 100%;
        font-size: 1.3rem;
        padding: 0.7rem 0 0.7rem 2rem;
    }
}

@media(max-width:768px){
    .engloba-conteudo{
        padding: 4rem 1rem;
    }

    .image-aluno {
        background-color: #adadad;
        align-self: center;
        max-width: 20rem;
        max-height: 20rem;
        width: auto;
        height: auto;
    }

    .alunoinfo {
        justify-content: center;
        align-items: center;
    }
    .div-aluno-engloba > div.div-aluno {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .aluno-p{
        width: 100%;
    }

    .div-aluno-engloba > div.div-aluno > div > h3 {
        margin: 0;
        height: 3rem;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 0.7rem 0 0.7rem 0;
    }
}

@media(max-width:540px){
    .topic-home h2 {
        font-size: 1.6rem;

        padding: 0 1.8rem;
        color: black;
    }

    .aluno-p {
        font-size: 0.9rem !important;
    }

    .div-aluno-engloba {
        padding: 0;
        font-size: 0.7rem;
        height: auto;
        width: auto;
    }
    .div-aluno {
        font-size: 0.7rem;
    }
    .image-aluno {
        background-color: #adadad;
        align-self: center;
        max-width: 13rem;
        max-height: 13rem;
        width: auto;
        height: auto;
    }
    .caracteristicas-aluno {
        justify-content:center;
        align-items:center;
    } 
    .caracteristicas-aluno a {
        height: auto;
        width: auto;
        text-align: center;
    } 
    .parte-lattes {
        margin: 1rem 0 0 -1rem;
        justify-content:center;
        align-items: center;
    }
    .parte-lattes > div {
        justify-content:center;
        align-items: center;
    }
    div.engloba-dados-aluno {
        padding: 1rem 1rem;
    }
    #escola-img {
        display: none;
    }
    .caracteristicas-aluno > a:nth-child(2){
        align-self:flex-start;
        margin: 1rem 0 0 -0.5rem !important;
    }

    .caracteristicas-aluno > a:nth-child(3){
        align-self:flex-start;
    }

    #pablo {
        font-size: 1.3rem !important;
    }

    #pablo-title {
        padding: 0 0.5rem !important;
        font-size: 1.1rem !important;
    }

}

@media(max-width: 440px){
    .div-aluno-engloba > div.div-aluno > div > h3 {
        height: max-content;
    }

    .topic-home h2 {
        font-size: 1.4rem !important;
        height: max-content !important;
        padding: 0 1.5rem;
    }

    .aluno-p {
        width: 100%;
        font-size: 0.9rem !important;
    }

    #paulo {
        font-size: 1.2rem;
    }

    #paulo-title {
        padding: 0 0.5rem;
        font-size: 1.0rem !important;
    }

    #pablo {
        font-size: 1.1rem !important;
    }
}