#nav-principal {
    top: 4.5rem;
    right: -6.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    transition: all 0.75s linear;
    background-color:#EEEEEE;
}

#nav-principal:hover {
    background-color:transparent;
    transform: translate(-6.5rem);
}

.nav-dados:hover {
    background-color:#EEEEEE !important;
}

#nav-principal:hover > #ul-nav-principal{
    opacity: 1;
}

#nav-principal:hover > #img-nav  {
    opacity: 0;
}

#ul-nav-principal {
    margin: 0;
    padding: 0;
    opacity: 0;
}



div.nav-sobre-engloba {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.topico-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.topico-nav > li {
    width: 100%;
    background-color: #EEEEEE;
    padding: 0.4rem;
}

ul.topico-nav > li:hover {
    background-color: #d4d4d4;
}

ul.topico-nav > li > a {
    font-family: 'Metropolis-Light', sans-serif !important;
}

.title-topico {
    font-family: 'Metropolis-Light', sans-serif !important;
    padding: 0.8rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
    text-align: center;
    align-self: center;
    width: 100%;
    background-color: white;
    font-size: 1.3rem;
    font-weight: bold;
}


#img-nav {
    position: absolute;
    margin: 38vh 0 auto 0;
    align-self: flex-start;
    max-width: 3.5rem;
    max-height: 3.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    width: auto;
    height: auto;
    opacity: 1;
}

/**/
@media(max-height: 600px){
    #nav-principal {
        right: -15vh;
    }
    #nav-principal:hover {
        transform: translate(-15vh);
    }
    .title-topico {
        padding: 1.5vh;
        font-size: 3.0vh;
    }
    ul.topico-nav > li > a {
        font-size:2.4vh;
    }
}

@media(max-width:780px) {
    #nav-principal {
        display: none;
    }
}
@media(max-width:940px){
    
}