.engloba-conteudo-resumo{
    padding: 2rem;
}

.engloba-resumo{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 2rem 0;
}

#button-3d-active {
    cursor: pointer !important;
}

div.buttonImage {
    margin: 1rem 0;
    border-color: #1245ed;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 2rem;
}

a {
    padding: 0 1rem;
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
div.buttonImage > a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0rem;
	z-index: -2;
}

div.buttonImage > a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #1245ed;
	transition: all .3s;
	border-radius: 0rem;
	z-index: -1;	
}
div.buttonImage:hover{
    box-shadow: -5px 5px 5px -5px #333;
}

div.buttonImage > a:hover{
    color: white;
    text-shadow: 1px 1px 2px black;
}

div.buttonImage > a:hover:before{
    width: 100%;
}

#le-pagina{
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 5%;
    justify-content: center;
    flex-direction: column;
}

div.images-resumo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 0 0.4em black;
}

div.images-resumo > img {
    max-width: 19rem;
    max-height: 19rem;
    width: auto;
    height: auto;
}

div.engloba-render {
    width: 100%;
}

#render > canvas {
    border: 1px solid black;
}

div.render-3d {
    width: 100%;
}

#dados-resumo {
    padding: 0 !important;
}


@media(max-width:1280px){
    div.images-resumo {
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
    }

    div.images-resumo > img {
        max-width: 15rem;
        max-height: 15rem;
    }
}

@media(max-width:1080px){
    div.images-resumo > img {
        max-width: 13rem;
        max-height: 13rem;
    }
}

@media(max-width:980px) {
    div.images-resumo > img {
        max-width: 11.5rem;
        max-height: 11.5rem;
    }
}

@media(max-width:840px) {
    div.images-resumo > img {
        max-width: 10rem;
        max-height: 10rem;
    }
}

@media(max-width:768px){
    #le-pagina {
        padding: 20px 0;
    }

    .engloba-conteudo {
        padding: 0rem;
    }

    .engloba-conteudo-resumo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.images-resumo {
        width: max-content;
        padding: 1rem 0.5rem;
        flex-direction: column;
    }

    div.images-resumo > img {
        max-width: 25rem;
        max-height: 25rem;
        padding: 1rem;
    }
    p.aluno-p {
        width: 100%;
    }

    .topic-home h2 {
        margin: 0;
        height: 100%;
        padding: 0 1rem;
        background-color: white;
    }

    div.engloba-render {
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    div.render-3d {
        width: 80%;  
    }
}

@media(max-width: 450px){
    .engloba-conteudo-resumo {
        padding: 2rem 0.5rem;
    }

    div.images-resumo > img {
        max-width: 21rem;
        max-height: 21rem;
        padding: 1rem 0.5rem;
    }

    .topic-home h2 {
        padding: 0 3rem;
    }

    p.aluno-p {
        width: 100%;
    }

    div.render-3d {
        width: 95% !important;  
    }
}

@media(max-width: 350px){
    .engloba-conteudo-resumo {
        padding: 2rem 1rem;
    }

    div.images-resumo > img {
        max-width: 17rem;
        max-height: 17rem;
        padding: 1rem 0.3rem;
    }

    #paulo-title {
        font-size: 2rem;
        padding: 0.6rem 0.3rem !important;
    }

    .topic-home h2 {
        /*height: max-content !important;*/
        padding: 0 1.3rem;
    }
}