# HTID:16767678: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16767678:

Options All -Indexes

RewriteEngine On
RewriteCond %{SCRIPTS_FILENAME} !-f
RewriteCond %{SCRIPTS_FILENAME} !-d
RewriteRule ^//?$ index.html
RewriteRule ^home/?$ index.html [NC,L]
RewriteRule ^sobre/?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/resumo?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/breno?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/paulo?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/fefel?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/rafafael?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/rafael?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/samuel?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/alison?$ /pages/sobre.html [NC,L]
RewriteRule ^sobre/yuri?$ /pages/sobre.html [NC,L]
RewriteRule ^dados/?$ /pages/dados.html [NC,L]

ErrorDocument 404 /pages/inexistente.html
ErrorDocument 403 /pages/erro.html